name: Android Build

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        abi: [armeabi-v7a, arm64-v8a, x86, x86_64]
        minSdk: [24, 31]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        repository: WireGuard/wireguard-android
        submodules: recursive

    - name: view env
      run: echo $GITHUB_ENV

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Build with Gradle
      run: ./gradlew assembleRelease -PtargetAbi=${{ matrix.abi }} -PtargetMinSdk=${{ matrix.minSdk }}

    - name: Sign APK
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: ui/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
      env:
        BUILD_TOOLS_VERSION: '35.0.1'

    - name: Upload report
      uses: actions/upload-artifact@v4
      with:
        name: reports-${{ matrix.abi }}-api${{ matrix.minSdk }}
        path: ui/build/reports/*

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: wireguard-android-${{ matrix.abi }}-api${{ matrix.minSdk }}
        path: ${{ steps.sign_app.outputs.signedReleaseFile }}